<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933356759652-b3v6ruh2n54malvfek4uh6v9o7f03vhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933356759652-b3v6ruh2n54malvfek4uh6v9o7f03vhv</string>
	<key>API_KEY</key>
	<string>AIzaSyDkSEXljQUTroJEaPIQoj93aNWoOR9SFz0</string>
	<key>GCM_SENDER_ID</key>
	<string>933356759652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomatterton.adventCalendar</string>
	<key>PROJECT_ID</key>
	<string>advent-calendar-7f4c7</string>
	<key>STORAGE_BUCKET</key>
	<string>advent-calendar-7f4c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933356759652:ios:9a4dac457268ff7d3a4d71</string>
	<key>DATABASE_URL</key>
	<string>https://advent-calendar-7f4c7.firebaseio.com</string>
</dict>
</plist>